/* !!!!!!!@font-face */

 /* @font-face {
  font-family: "MyCustomFont";
  src: 
  url("./fonts/BitcountGridDouble-Regular.woff2") format("woff2"),
    url("./fonts/BitcountGridDouble-Regular.woff") format("woff"),
    url("./fonts/BitcountGridDouble-Regular.ttf") format("truetype");
   }  */
/* 
   @font-face {
    font-family: "Roboto Nostro";
    src: url(./fonts/RobotoCondensed-Regular.woff2)
    format("woff2")     
   } */

   @font-face {
    font-family: "Inter";
    src: url(./fonts/Inter.woff2) format("woff2");
   }


   /* !!!!!!!!!!!!!!@import */

   /* @import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap'); */


   /* h1 {
    font-family: MyCustomFont;
   } */

   p {
    font-family: 'Roboto Nostro';
   }

   h1 {
    font-family: Inter;
   }
